main a{
  color: #999;
}

main a:hover{
  text-decoration: none;
}

main{
  color: #999;
}

main p{
  color: #000;
}

main h4{
  color: #000;
  line-height: 3em;
}

.star{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/spirte.png);
  background-position: -158px 0;
  margin-left: 5px;
  margin-bottom: -4px;
}

.nav-bread .active{
  color: #29b078;
}

.nav-bread p{
  line-height: .8rem;
  border-bottom: 1px solid #D0D6D9;
}

.direction ul{
  line-height: .6rem;
  border-bottom: 1px solid #EDF1F2;
}

.direction li{
  display: inline-block;
  margin-right: 10px;
}

.direction li a{
  padding: 2px;
  color: #333333;
}

.direction li a.active{
  background-color: #29b078;
  color: #fff;
}

.direction li a:hover{
  background-color: #29b078;
  text-decoration: none;
  color: #fff;
}

.job{
  border-bottom: 1px solid #D0D6D9;
  line-height: .8rem;
  margin-bottom: .47rem;
}

.big-box{
  position: relative;
  padding: auto;
  width: 100%;
}

.responsive{
  padding: 0 8px;
}

.title{
  padding-left: 8px;
  padding-right: 1em;
}

.title-info{
  color: #999999;
}

.red{
  color: red;
}

.row-l{
  padding-left: 2em;
}

.row-r{
  float: right;
  padding-right: 6px;
}

.table-info{
  font-size: 14px;
}

.table tr td div{
  font-size: 12px;
}

.table tr p{
  font-size: 12px;
}

.table tr p b{
  font-size: 14px;
}

.table>tbody>tr>td{
  padding-right: 0;
  padding-left: 0;
}

.table>tbody>tr>td[rowspan="3"]{
  vertical-align: middle;
}

td[colspan="4"]{
  width: 40%;
  text-align: center;
}

td[colspan="5"]{
  width: 50%;
}
td[colspan="6"]{
  width:60%;
}

td[colspan="10"]{
  width:100%;
}

.hide-seek .job-name{
  height: 70px;
  line-height: 3em;
  text-align: center;
  color: #fff;
}


.hide-seek .job-intro{
  text-indent: 1em;
  line-height: 1.5em;
  color: #fff;
}


.hide-seek{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
}

.big-box:hover .hide-seek{
  width: 100%;
  height: 100%;
  padding: 10%;
  border-radius: 0;
  background-color: rgba(0,0,0,.8);
  visibility: visible;
  animation: run ease-in-out .5s;
}

@keyframes run {
  0% {
    transform: translateY(100%);
  }

  25% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

