/*reset*/
body,div,p{
  padding:0;
  margin:0;
}

html{
  font-size: 62.5%;
}

/*layout*/
body {
  max-width: 1920px;
  min-width: 270px;
  height: 100vh;
  margin: auto;
  background-color: #6ccdd5;
  overflow: hidden;
}

.back{
  padding: 3vh;
}

.back img{
  width: 4vh;
}

.main{
  margin:auto;
  width:70%;
  color: #fff;
  font-size:1.8rem;
}

.logo{
  margin: auto;
  text-align: center;
}

.text{
  width: 70%;
  margin: 0 auto;
  height: 35vh;
  padding-top:14vh;
}

a{
  text-decoration: none;
  color: #fff;
}

.round img{
  width: 7vh;
}

.round p{
  margin-top: 1.5vh;
}

.round1,.round2{
  width: 50%;
  text-align: center;
}

.round1{
  float: left;
}


.round2{
  float: right;
}

