*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
  color: #ffffff;
}

body{
  position: relative;
  background-color: #eef0f4;
}

header{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #5ac0ce;
  height: 6.5rem;
  letter-spacing: 0.4rem;
}

header p{
  margin-left: calc(50% - 28px);
  color: #ffffff;
  font-size: 1.75rem;
  line-height: 6.5rem;
  display: inline-block;
  font-weight: bold;
}

.login{
  position: absolute;
  left: 1.875rem;
}

.close{
  position: absolute;
  right: 1.875rem;
}

header a{
  font-size: 1.5rem;
  line-height: 6.5rem;
}

.main{
  width: 100%;
  position: absolute;
  top: 7.875rem;
}

.main div{
  background-color: #fefefe;
  margin-bottom: 1.25rem;
  position: relative;
}

.main div input{
  height: 6rem;
  width: calc(100% - 9rem);
  border: none;
  padding-left: 9rem;
  font-size: 1.5rem;
  outline: none;
}

.main div input::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #e1e5e7;
}

.icon{
  width: 1.5rem;
  position: absolute;
  top:50%;
  left: 2rem;
  transform:translateY(-50%);
}

.line{
  height: 3rem;
  position: absolute;
  top:50%;
  left: 6rem;
  transform: translateY(-50%);
}

.submit{
  width: 100%;
  height: 6.25rem;
  background-color: #5ac0ce;
  font-size: 1.75rem;
  line-height: 6.25rem;
  color: #ffffff;
  letter-spacing: 1.875rem;
  border: none;
  outline: none;
}

.forgot{
  text-decoration: underline;
  color: #5ac0ce;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 1.25rem;
}