*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  position: relative;
  min-width: 320px;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #5ac0ce;
  z-index: 1;
} 

header .back{
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
  position: absolute;
  left: 2.5rem;
  top: 2rem;
}

header p{
  line-height: 5rem;
  text-align: center;
  color:#ffffff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-family: STHeitiSC-Light;
}

.banner{
  position: absolute;
  top: 4.9rem;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(images/header-background.png);
  z-index: 0.1;
}

.people-box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #efefef;
  margin-left: 1.8rem;
  position: relative;
  overflow: hidden;
}

.people-box img{
  width: 5rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

.information{
  width: 20rem;
  height: 5rem;
  margin-left: 13rem;
}

.information span{
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.7rem;
}

.information img{
  margin-top: 1rem;
  width: 1rem;
  display: inline-block;
}

.address{
  font-size: 1.5rem !important;
  margin-left: 1rem;
}

.container{
  position: absolute;
  top: 25rem;
  width: 100%;
  margin-bottom: 13rem;
}

.list1{
  width: 100%;
  height: 6.25rem;
  border-bottom: 1px solid #e8ebed;
}

.list{
  width: 94%;
  height: 6.25rem;
  border-bottom: 1px solid #e8ebed;
  margin: 0 auto;
  position: relative;
}

.list1-title {
  font-size: 1.625rem;
  color: #333333;
  line-height: 6.25rem;
}

.list1-line{
  display: inline-block;
  width: 0.4rem;
  height: 1.3rem;
  background-color: #59c0ce;
  margin-left: 1.875rem;
  margin-right: 0.5rem;
}

.list .box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
}

.list .box img{
  width: 1.25rem;
}

.list .box span{
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.list-name{
  font-size: 1.8rem;
  color: #999999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-right: 0.1rem solid #999999;
  padding-left: 2rem;
  padding-right: 2rem;
}

.list-content{
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 13rem;
  transform: translateY(-50%);
}

.list .price{
  color: red;
}

.list2 .list-content{
  position: absolute;
  top: 80%;
  height: 6rem;
}

.list2{
  min-height: 6.25rem;
}



footer{
  width: 100%;
  height: 8rem;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #fcfcfc;
  padding-top: 1rem;
}

.btn{
  width: calc(50% - 4rem);
  margin-left: 2rem;
  height: 6rem;
  border: 0.3rem solid #5ac0ce;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 6rem;
  text-align: center;
  letter-spacing: 0.3rem;
}

.btn1{
  color: #5ac0ce;
}

.btn2{
  background-color: #5ac0ce;
  color: #ffffff;
}