* { 
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  padding-bottom: 100%; 
}

.main>div {
  width: calc(94% / 3);
  padding-bottom: calc(94% / 3);        
  background-color: #E78326;
  border-radius: 5%;
  float: left;
  margin: 1%;
}