html{
  font-size: 62.5%;
}
body{
  position: relative;
  min-width: 320px;
  max-height: 626px;
}

header{
  width: 100%;
  height: 5.5rem;
  background-color: #29BDE0;
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
}

.header-menu{
  width: 3rem;
  height: 2.5rem;
  position: absolute;
  left: 1.375rem;
  bottom: 1rem;
  background-image: url(../images/spirte.png);
  background-position: -47px 240px;
  background-size: 24rem;
}

.header-menu-r{
  width: 3rem;
  height: 2.5rem;
  position: absolute;
  right: 1.375rem;
  bottom: 1rem;
  background-image: url(../images/spirte.png);
  background-position: -47px 202px;
  background-size: 24rem;
}

header span{
  font-size: 2.125rem;
  color: #ffffff;
  display: block;
  padding-top: 1.8rem;
}

.main{
  width: 100%;
  margin-top: 5.5rem;
  background-color: #29BDE0;
}

.main-header {
  height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.67);
  color: #464646;
  font-size: 1.5rem;
  line-height: 5.125rem;
  padding-left: 2.8rem;
  position: relative;
}

.main-header-info{
  width: 100%;
  height: 4.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 1.75rem;
  padding-left: 4.438rem;
  padding-top: 1.5rem;
  position: relative;
}

.header-info-icon{
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 4.438rem;
  background-image: url(../images/spirte.png);
  background-position: -99px 240px;
  background-size: 24rem;
}

.main-header-content{
  width: 100%;
  position: fixed;
  top: 5.5rem;
  background-color: #29BDE0;
}

.main-content{
  width: 100%;
  margin-top: 14.5rem;
}

.main-content .row{
  display: flex;
  width: 92%;
  margin: 0 auto;
  justify-content: space-around;
}

.content-list{
  width: 8.5rem;
  height: 12.5rem;
}

.list-name{
  width: 100%;
  height: 8.5rem;
  border: 2px solid #ffffff;
}

.list-name-t{
  width: 100%;
  height: 6.188rem;
  line-height: 6.188rem;
  text-align: center;
  color: #565656;
  background-color: #F5C97B;
  font-size: 1.875rem;
}

.list-name-b{
  widows: 100%;
  height: 2.311rem;
  color:  #ffffff;
  font-size: 1.423rem;
  text-align: center;
  line-height: 2.311rem;
  background-color: rgba(26, 153, 183, 0.52);
  border-bottom: 2px solid #ffffff;
  margin-top: -2px;
}

.list-btn{
  width: 8.5rem;
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}

.list-btn .btn{
  width: 1.875rem;
  height: 1.875rem;
  background-color: #ffffff;
  margin-top: 1rem;
}

.list-btn .btn1{
  background-image: url(../images/spirte.png);
  background-size: 20rem;
  background-position: 89px 204px;
}

.list-btn .btn2{
  background-image: url(../images/spirte.png);
  background-size: 20rem;
  background-position: 64px 204px;
}

.list-btn .btn3{
  background-image: url(../images/spirte.png);
  background-size: 20rem;
  background-position: 36px 202px;
}

.list-btn .btn4{
  background-image: url(../images/spirte.png);
  background-size: 20rem;
  background-position: 19px 204px;
}

.list-btn{
  display: none;
}

.content-list:hover .list-btn{
  display: block;
}

.main-content .row:last-child{
  margin-bottom: 11.875rem;
}

footer{
  width: 100%;
  height: 11.875rem;
  background-color: #29BDE0;
  position: fixed;
  bottom: 0;
}

.bottom-btn{
  width: 30.625rem;
  height: 5.438rem;
  background-color: #FBB435;
  margin: 2.625rem auto;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 5.438rem;
  text-align: center;
}

.bottom-btn a{
  text-decoration: none;
  color: #ffffff;
}

.player{
  width: 3.3rem;
  height: 3.3rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 2;
  background-image: url(../images/spirte.png);
  background-position: -43px 160px;
  background-size: 24rem;
}

